<body>
<center>
	<div>
		<p style="font-size: 20px;color: #53A3CD;">A2B</p>
		<p>Thank You for Sign Up with us, Please click on the link bellow to activate your account</p>
		<a href="http://52.11.231.112:8822/user/activate/{{emailVerificationToken}}">Click here</a>		
	</div>
</center>
</body>
