<body>
<center>
	<div>
		<p style="font-size: 20px;color: #53A3CD;">A2B</p>
		<p>Please click the link for Reset the password<p>
		<a href="http://52.11.231.112:8822/user/reset_password/{{emailVerificationToken}}" style="text-decoration:none;padding:4px;">Reset the password</a><br><br>
	</div>
</center>
</body>