<body style="margin: 0; padding: 0;">
	<a href="http://52.11.231.112:8822/user/reset_password/{{emailVerificationToken}}">
		<button style="outline : none; width: 100px; padding : 5px; color:#fff; background-color: #444; border-radius: 5px; box-shadow : none; border : none;">Set Password</button>
	</a>
</body>